.table-responsive
  table.table.table-striped
    thead
      tr
        th &nbsp;
        th.left-border.text-center(colspan='3') Long
        th.left-border.text-center(colspan='3') Short
        th.left-border.text-center(colspan='3') Spread
      tr
        th
        th.left-border Positions
        th Open Int
        th # Traders
        th.left-border Positions
        th Open Int
        th # Traders
        th.left-border Positions
        th Open Int
        th # Traders
    tbody
      tr
        td
          strong
            | Dealer
            br
            | Intermediary
        td.left-border.number
          | 9,050
          br
          span.positive-num +3,565
        td.number 5.9%
        td.number 7
        td.left-border.number
          | 45,599
          br
          span.negative-num -23,432
        td.number 29.8%
        td.number 8
        td.left-border.number
          | 307
          br
          span.positive-num 0
        td.number 0.2%
        td.number 0
      tr
        td
          strong
            | Asset Manager/
            br
            | Institutional
        td.left-border.number
          | 37,533
          br
          span.negative-num -2,652
        td.number 24.6%
        td.number 17
        td.left-border.number
          | 33,599
          br
          span.positive-num +15,211
        td.number 22.0%
        td.number 17
        td.left-border.number
          | 6,237
          br
          span.positive-num +341
        td.number 4.1%
        td.number 7
      tr
        td
          strong
            | Leveraged
            br
            | Funds
        td.left-border.number
          | 37,521
          br
          span.negative-num -3,397
        td.number 24.6%
        td.number 23
        td.left-border.number
          | 29,209
          br
          span.positive-num +892
        td.number 19.1%
        td.number 22
        td.left-border.number
          | 9,137
          br
          span.positive-num +282
        td.number 6.0%
        td.number 17
      tr
        td
          strong
            | Other
            br
            | Reportables
        td.left-border.number
          | 20,901
          br
          span.positive-num +767
        td.number 13.7%
        td.number 13
        td.left-border.number
          | 528
          br
          span.negative-num -58
        td.number 0.3%
        td.number 0
        td.left-border.number
          | 0
          br
          span.negative-num -714
        td.number 0.0%
        td.number 0
      tr
        td
          strong
            | Nonreportable
            br
            | Positions
        td.left-border.number
          | 32,093
          br
          span.negative-num -775
        td.number 21.0%
        td &nbsp;
        td.left-border.number
          | 28,163
          br
          span.positive-num +4,895
        td.number 18.4%
        td &nbsp;
        td.left-border &nbsp;
        td &nbsp;
        td &nbsp;

